h2 {
  text-align: center;
}

.form {
  margin-left: 10%;
}

label {
  width: 100%;
}

input[type=text] {
  width: 100%;
}

input[type=number] {
  width: 100%;
}

.addBox {
  background-color: gray;
  height: 700px;
}